@page "/"

<h1>About</h1>

Code Chief LLC was founded in 2020 as a small software/IT consulting company that focuses on providing small businesses with affordable and simple solutions. 
<br>
<br>
Code Chief aspires to educate and enable our customers because technology advances us all.
<br>
<br>
<h3><a href="https://shenandoahbitcoin.club" target="_blank">Shenandoah Bitcoin Club</a></h3>
If you're looking for information about the <strong>Shenandoah Bitcoin Club</strong>, the next meeting is being planned for June 3rd, 2022 at 7pm.
<br>
If you have any other question, please contact gary@codechief.dev
