@page "/"

<h1>About</h1>

Code Chief LLC was founded in 2020 as a small software/IT consulting company that focuses on providing small businesses with affordable and simple solutions. 
<br>
<br>
Code Chief aspires to educate and enable our customers because technology advances us all.
<br>
If you're looking for information about the Shenandoak Bitcoin Club, please email gary@codechief.dev