@page "/"

<h1>About</h1>

Code Chief LLC was founded in 2020 as a small software/IT consulting company that focuses on providing small businesses with affordable and simple solutions. 
<br>
<br>
Code Chief's aspirations involve software designed for <a href="https://en.wikipedia.org/wiki/Tabletop_role-playing_game">Table Top Role Playing Games</a>, such as <a href="https://paizo.com/pathfinder">Pathfinder 2e</a>. Progress on this goal can be found <a href="https://github.com/mirkoRainer/RulesLawyer">here</a>.