@page "/"

<h1>About</h1>

Code Chief LLC was founded in 2020 as a small software/IT consulting company that focuses on providing small businesses with affordable and simple solutions. 
<br>
<br>
Code Chief aspires to educate and enable our customers because technology advances us all.
<br>
<br>
If you're looking for information about the <strong>Shenandoah Bitcoin Club</strong>, the next meeting is being planned for the month of June currently. Here is a link to slides: <a href="https://docs.google.com/presentation/d/1pZdj4dmijSixUiiCpAEtbRmqE2D9pAsBljqE9rJQV2w/edit?usp=sharing" target="_blank" class="ml-md-auto">Shenandoah Bitcoin Club Slides</a>
<br>
<br>
If you have any other question, please contact gary@codechief.dev
